* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(49, 49, 49);
}

.container {
    text-align: center;
}

button {
    padding: 10px;
    color: black;
}

